<%= form_with(model: @photo, local: true, url: choose_new_or_edit) do |form| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h4><%= @photo.errors.count %>件のエラーがあります。</h4>
      <ul>

      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="photo_post">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>
  <br>
  <div class="photo_post">
    <%= form.label :content %>
    <%= form.text_field :content, :size=>"50*20"%>
  </div>
  <%= form.submit :class=>"btn" %>
<% end %>
<br>

<%= link_to "Back to photo Lists", photos_path, class: "btn btn-primary" %>
