<h3>CONFIRM new post</h3>
<h4>Is it ok?</h4>

<%= form_with(model: @photo, local: true) do |form| %>
  <%= form.hidden_field :image_cache %>
  <%= form.hidden_field :content %>
<div class ="imageup">  
  <h4 class ="imageup"><%= image_tag(@photo.image) %></h4>
  <h4>comment: 　　<%= @photo.content %></h4>
  <%= form.submit 'POST' %>
<% end %>
<!--<div class = "photo-links">-->
<%= form_with(model: @photo, url: new_photo_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :image_cache %>
  <%= form.hidden_field :content %>
  <%= form.submit 'back' %>
<% end %>
</div>  