<h1 class="lists_title container-fluid">photo Lists</h1>

<p class = "notice"></p>

<div class="container">
 <div class="row">
   <% if @user_id = current_user.id %>
     <% @photos.each do |photo| %>
       <div class="photo-panel col-md-6">
         <h2><%= image_tag photo.image %></h2>
         <p><%= photo.content %></p>
     
       <% if photo.user_id == current_user.id %>
          <div class="photo-links">
            <%= link_to 'Show', photo, class: 'btn btn-default' %>
            <%= link_to 'Edit', edit_photo_path(photo), class: 'btn btn-info' %> |
            <%= link_to 'Delete', photo, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          </div>
       <% else %>
            <div class="photo-links">
              <%= link_to 'Show', photo, class: 'btn btn-default' %>
            </div>
       <% end%>
       </div>
     <% end%>
   <% end%>
 </div>
</div>   
<br>

<div>
<%= link_to 'POST new photo', new_photo_path, class: "btn btn-primary" %>
</div>


