<!DOCTYPE html>
<html>
  <head>
    <title>Photoapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   
    <%= link_to "MYPHOTOSHARE", root_path, class: 'btn btn-primary btn-x2 rounded-pill mt-3' %>
    
    <% if logged_in? %>
      <%= link_to "Profile", user_path(current_user.id), class: 'btn btn-primary btn-x2 rounded-pill mt-3'%>
      <%= link_to "Logout", session_path(current_user.id), method: :delete, class: 'btn btn-primary btn-x2 rounded-pill mt-3' %>
    <% else %>
      <%= link_to "Sign up", new_user_path, class: 'btn btn-primary btn-x2 rounded-pill mt-3' %>
      <%= link_to "Login", new_session_path, class: 'btn btn-primary btn-x2 rounded-pill mt-3' %>
    <% end %>
    
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %> 
  
    <%= yield %>
  </body>
</html>
